* {margin:0;
   padding: 0;
   box-sizing:border box;
   list-style-type: none;

}

body {display: flex;
    align-items: center;
    justify-content: center;
    z-index: -100;
}

.dropdown {margin: 2.5%;

}
#get_button {margin: 0.5%;

}



#container {height: 300px;
            width: 60%;
            background-color: rgb(42, 144, 165);
            display: flex;
            align-items: center;
            flex-direction: column;


}

